{% extends "base.html" %}

{% block title %}&bull; Blog &bull; {{ year }}{% endblock %}

{% block robots %}noindex,follow{% endblock %}
{% block description %}Jahresarchiv für {{ year }}{% endblock %}

{% block content %}

	<div class="grid_2 alpha title">
		<h2>{{ year }}</h2>
	</div>

	<div class="grid_6 omega content">

		{% for object in object_list %}

		{% ifchanged object.date.month %} 

		{% if not forloop.first %}</ul></div>{% endif %}

		<h3>{{ object.date|date:"F Y" }}</h3>
		<ul>
		{% endifchanged %}
			<li>
				<a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
			</li>
		{% endfor %}
		</ul>

		<div class="clear"></div>

	</div>

{% endblock %}
