{% extends "blog/entry_archive.html" %}

{% block title %} Stefan Jenkner &raquo; Archiv &raquo; Schlagwort &#8220;{{ tag }}&#8221; {% endblock %}
{% block description %} Alle Beiträge, die mit &#8220;{{ tag }}&#8221; getaggt sind {% endblock %}

{% block content %}

<h2>{% block pagetitle %}Beitr&auml;ge beschlagwortet mit &#8220;{{ tag }}&#8221; {% endblock %}</h2>

{% if related_tags %}

<p>&Auml;hnliche Schlagwörter:
{% for related_tag in related_tags %}
 <span><a rel="tag" href="/archive/{{ related_tag.name|slugify }}/">{{ related_tag.name }}</a></span>
{% endfor %}
</p>

{% endif %}

{% for object in object_list %}
	{% include "blog/entry_preview.html" %}
{% endfor %}

{% endblock %}
