{% load tagging_tags %}
{# load pingback_tags #}
{% load comments %}
{% load gravatar %}

	{% tags_for_object object as tags%}
	{% get_comment_count for object as comment_count %}
	{# get_pingback_count for object as pingback_count #}

	<div class="post" about="{{ object.get_absolute_url }}">

	<h3><a property="dc:title" href="{{ object.get_absolute_url }}" title="{{ object.excerpt }}" >{{ object.title }}</a></h3>
	<p>
	  	<span property="dc:creator" content="{{ object.author.first_name }} {{ object.author.last_name }}">
		Von {{ object.author.first_name }} {{ object.author.last_name }}</span>
		<span property="dc:date" content="{{ object.date|date:"Y-m-d\TH:i:s\Z" }}">am {{ object.date|date:"l, \d\e\n d. F Y" }}</span> 
		<!-- <span><a href="{{ object.get_absolute_url }}">...lesen!</a></span> -->
	</p>
	<!--
		<div class="alignleft"><small>Schlagw&ouml;rter:
		{% for tag in tags %}
		<a rel="tag" href="/archive/{{ tag.name|slugify }}/">{{ tag.name }}</a>
		{% endfor %}
		</small></div>
	-->

	<div class="clear">&nbsp;</div>

	</div>

	<div class="clear">&nbsp;</div>
