{% extends "blog/entry_archive.html" %}

{% block title %}&bull; Blog &bull; Schlagwort: {{ tag }}{% endblock %}
{% block description %}Beitr&auml;ge beschlagwortet mit &#8220;{{ tag }}&#8221;{% endblock %}

{% block pagetitle %}Schlagwort<br />&#8220;{{ tag }}&#8221;{% endblock %}
{% block pagecontent %}

	<h3>Beitr&auml;ge beschlagwortet mit &#8220;{{ tag }}&#8221;</h3>

	{% if related_tags %}
	<p>&Auml;hnliche Schlagwörter:
	{% for related_tag in related_tags %}
	<span><a rel="tag" href="/blog/{{ related_tag.name|slugify }}/">{{ related_tag.name }}</a></span>
	{% endfor %}
	</p>
	{% endif %}

	{% for object in object_list %}
		{% include "blog/entry_preview.html" %}
	{% endfor %}

{% endblock %}
