{% extends "base.html" %}

{% load markup tagging_tags inlines %}

{% block title %}&bull; {{ flatpage.title }}{% endblock %}
{% block robots %}index,follow{% endblock %}
{% block description %}kreuzundquer e.V. {{ flatpage.title }}{% endblock %}
{% block keywords %}{% tags_for_object flatpage as tags %}{{ tags|join:", " }}{% endblock %}

{% block content %}

	<div class="grid_2 alpha title">
	{% if user.is_authenticated %}
		<a href="/admin/flatpages/flatpage/{{ flatpage.id }}/" title="Seite bearbeiten"><img
		 src="{{ MEDIA_URL }}img/gtk-edit.png" alt="Seite bearbeiten" /></a>
	{% endif %}
	<h2>{{ flatpage.title }}</h2>
	</div>

	<div id="flatpage-{{ flatpage.title|slugify }}" class="grid_8 omega content">
		{{ flatpage.content|markdown|render_inlines }}
	</div>

	<div class="clear">&nbsp;</div>

	{% if flatpage.enable_comments %}
	{% with flatpage as object %}
	{% include "comments/comments.html" %}
	{% endwith %}
	{% endif %}

	<div class="clear">&nbsp;</div>

{% endblock %}
