<div class="photoset">
<h4>Photoset: {{ object.title }}</h4>
<p>{{ object.description }}</p>
{% for photo in object.photos.all %}

<div class="grid_2
    {% ifequal forloop.counter 1 %}alpha{% endifequal %}
    {% ifequal forloop.counter 5 %}alpha{% endifequal %}
    {% ifequal forloop.counter 9 %}alpha{% endifequal %}
    {% ifequal forloop.counter 13 %}alpha{% endifequal %}
    {% ifequal forloop.counter 17 %}alpha{% endifequal %}
    {% ifequal forloop.counter 21 %}alpha{% endifequal %}
    {% ifequal forloop.counter 4 %}omega{% endifequal %}
    {% ifequal forloop.counter 8 %}omega{% endifequal %}
    {% ifequal forloop.counter 12 %}omega{% endifequal %}
    {% ifequal forloop.counter 16 %}omega{% endifequal %}
    {% ifequal forloop.counter 20 %}omega{% endifequal %}
    {% ifequal forloop.counter 24 %}omega{% endifequal %}
    ">
		
	{% if photo.display %}
	<a rel="{{ object.slug }}" class="colorbox" href="{{ photo.display.url }}" title="{{ photo.title }}">
	<img
		src="{{ photo.thumbnail.url }}"
		width="{{ photo.thumbnail.width }}"
		height="{{ photo.thumbnail.height }}"
		alt="{{ photo.title }}"
		title="{{ photo.title }}"
		class="hover" />
	</a>
	{% else %}
	<img src="{{ photo.url }}" title="{{ photo.title }}" alt="{{ photo.title }}" />
	{% endif %}

	</div>

{% endfor %}
</div>
<div class="clear">&nbsp;</div>
