{% extends "events/base_events.html" %}

{% block description %}Aktuelle Events des KUQ e.V.{% endblock %}

{% block content %}
{% load humanize %}

{% for eventtime in object_list %}

	{% ifchanged eventtime.start.date %}
	<div class="grid_2 alpha title">
	{% if forloop.first %}
	<h2>{{ eventtime.start|naturalday|capfirst }}</h2>
	{% else %}
	<h2>{{ eventtime.start|date:"d. F" }}</h2>
	{% endif %}
	</div>
	{% else %}
	<div class="grid_2 alpha">&nbsp;</div>  
	{% endifchanged %}

	<div class="grid_8 omega content">
	{% include "events/eventtime.html" %}
	</div>

	<div class="clear">&nbsp;</div>

{% endfor %}

{% endblock %}
